<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Plant a seed, Grow a community">
		
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700,900">
	<link type="text/css" rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
	<div id="notfound">
		<div class="notfound">
            <div class="notfound-404">
                {% block content %}
                {% endblock %}
			</div>
			<a href="/dashboard">Go back to dashboard</a>
		</div>
	</div>
</body>
</html>