{% extends "layout.html" %}
{% set active_page = "policies" %}

{% block content %}

<!-- Policy Modal -->
<div class="modal fade" id="newPolicyModal" tabindex="-1" role="dialog" aria-labelledby="newPolicyModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="text-center">
                    <h4 class="text-dark mb-4">Add New Policy</h4>
                </div>
                <form class="user" method="POST" action="policies">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.policy_name.label(class="form-control-label") }}

                        {% if form.policy_name.errors %}
                        {{ form.policy_name(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.policy_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.policy_name(class="form-control form-control-user") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.plant_type.label(class="form-control-label") }}

                        {% if form.plant_type.errors %}
                        {{ form.plant_type(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.plant_type.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.plant_type(class="form-control form-control-user") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.humidity.label(class="form-control-label") }}

                        {% if form.humidity.errors %}
                        {{ form.humidity(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.humidity.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.humidity(class="form-control form-control-user") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.amount_light.label(class="form-control-label") }}

                        {% if form.amount_light.errors %}
                        {{ form.amount_light(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.amount_light.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.amount_light(class="form-control form-control-user") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.irregation_frequency.label(class="form-control-label") }}

                        {% if form.irregation_frequency.errors %}
                        {{ form.irregation_frequency(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.irregation_frequency.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.irregation_frequency(class="form-control form-control-user") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.irregation_amount.label(class="form-control-label") }}

                        {% if form.irregation_amount.errors %}
                        {{ form.irregation_amount(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.irregation_amount.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.irregation_amount(class="form-control form-control-user") }}
                        {% endif %}
                    </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm d-none d-sm-inline-block"
                    data-dismiss="modal">Close</button>
                {{ form.submit(class="btn btn-success btn-sm d-none d-sm-inline-block") }}
                </form>
            </div>
        </div>
    </div>
</div>


<h3 class="text-dark mb-4">Policies</h3>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-dark m-0 font-weight-bold">{{ current_user.first_name }}'s Policies List</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                </div>
                <button type="button" class="btn btn-success btn-sm d-none d-sm-inline-block" data-toggle="modal"
                    data-target="#newPolicyModal">
                    <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;New Policy
                </button>


                <script>
                    setTimeout(function () {
                        $('#policies-messages').fadeOut('fast');
                    }, 4000); // <-- time in milliseconds
                </script>

                <div id="policies-messages">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

            </div>

            <div class="col-md-6">
                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search"
                            class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label>
                </div>
            </div>




        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table dataTable my-0" id="dataTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Plant Type</th>
                        <th>Humidity</th>
                        <th>Light</th>
                        <th>Irregation Frequency</th>
                        <th>Irregation Amount</th>
                        <th>Sensors</th>
                        <th>Date Created</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for policy in all_policies %}
                    {% if policy.writer == current_user.id %}
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Policy?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{ url_for('delete_policy', policy_id=policy.id) }}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tr>
                        <td>

                            <button type="button" class="btn btn-light active btn-sm" data-toggle="modal"
                                data-target="#deleteModal"><i class="fas fa-trash-alt"
                                    style="color: rgb(74,74,74);font-size: 15px;"></i></button>

                        </td>
                        <td>
                            {% if policy.is_active == True %}
                            <div class="btn-group">
                                <button class="btn btn-success active btn-sm" type="button">
                                    Active&nbsp;
                                </button>

                                <button class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-expanded="false" type="button"></button>
                                <div class="dropdown-menu" role="menu">
                                    <form action="{{ url_for('toggle_policy', policy_id=policy.id)}}" method="POST">
                                        <input class="dropdown-item" type="submit" value="Deactivate">
                                    </form>
                                </div>

                            </div>
                            {% else %}
                            <div class="btn-group">
                                <button class="btn btn-secondary active btn-sm" type="button">
                                    Inactive&nbsp;
                                </button>

                                <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-expanded="false" type="button"></button>
                                <div class="dropdown-menu" role="menu">
                                    <form action="{{ url_for('toggle_policy', policy_id=policy.id)}}" method="POST">
                                        <input class="dropdown-item" type="submit" value="Activate">
                                    </form>
                                </div>

                            </div>
                            {% endif%}
                        </td>
                        <td>{{ policy.policy_name }}</td>
                        <td>{{ policy.plant_type }}</td>
                        <td>{{ policy.humidity }}%</td>
                        <td>{{ policy.amount_light }}%</td>
                        <td>{{ policy.irregation_frequency }} (per week)</td>
                        <td>{{ policy.irregation_amount }} L</td>
                        <td>{{ policy.policy_sensors|length }}</td>
                        <td>{{ policy.date_created }}</td>
                        <td>{{ policy.id }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                    {% if current_user.policies_wrote|length > 0 %}
                    Showing 1 to {{ current_user.policies_wrote|length }}
                    {% else %}
                    You have no policies
                    {% endif%}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card shadow" style="margin-top: 25px;">
    <div class="card-header py-3">
        <p class="text-dark m-0 font-weight-bold">Community Available Policies</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search"
                            class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label>
                </div>
            </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table dataTable my-0" id="dataTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Author ID</th>
                        <th>Plant Type</th>
                        <th>Humidity</th>
                        <th>Light</th>
                        <th>Irregation Frequency</th>
                        <th>Irregation Amount</th>
                        <th>Sensors</th>
                        <th>Date Created</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>



                    {% for policy in all_policies %}

                    <tr>
                        <td>
                            {% if policy.writer != current_user.id %}
                            <div class="btn-group" role="group"><button class="btn btn-light active btn-sm"
                                    type="button">Download</button><button class="btn btn-light btn-sm" type="button"
                                    disabled=""><i class="fa fa-download"></i>&nbsp;15&nbsp;</button></div>
                            {% else %}
                            <div class="btn-group" role="group"><button class="btn btn-light inactive btn-sm"
                                    type="button" disabled="">Download</button><button class="btn btn-light btn-sm"
                                    type="button" disabled=""><i class="fa fa-download"></i>&nbsp;15&nbsp;</button>
                            </div>
                            {% endif %}
                        </td>
                        <td>{{ policy.policy_name }}</td>
                        <td>{{ policy.writer }}</td>
                        <td>{{ policy.plant_type }}</td>
                        <td>{{ policy.humidity }}%</td>
                        <td>{{ policy.amount_light }}%</td>
                        <td>{{ policy.irregation_frequency }} (per week)</td>
                        <td>{{ policy.irregation_amount }} L</td>
                        <td>{{ policy.policy_sensors|length }}</td>
                        <td>{{ policy.date_created }}</td>
                        <td>{{ policy.id }}</td>
                        <td class="text-center d-xl-flex justify-content-xl-start align-items-xl-center">
                            <button class="btn btn-sm text-center" type="button"
                                style="background-color: rgba(0,0,0,0);opacity: 1;"><i class="fa fa-star"
                                    data-toggle="tooltip" data-bs-tooltip="" title="Star Policy"
                                    style="font-size: 26px;color: rgb(212,218,237);"></i></button><strong>89</strong>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                    {% if all_policies|length > 0 %}
                    Showing 1 to {{ all_policies|length }}
                    {% else %}
                    There are no policies
                    {% endif%}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}