{% extends "layout.html" %}
{% set active_page = "profile" %}

{% block content %}
<h3 class="text-dark mb-4">Profile</h3>
<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{ image_file }}"
                    width="160" height="160">
                <div class="mb-3"><button class="btn btn-success btn-sm" type="button">Change
                        Photo</button></div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-dark m-0 font-weight-bold">User Settings</p>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {{ form.hidden_tag() }}

                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.nick_name.label(class="form-control-label") }}

                                        {% if form.nick_name.errors %}
                                        {{ form.nick_name(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.nick_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.nick_name(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">

                                        {{ form.email.label(class="form-control-label") }}

                                        {% if form.email.errors %}
                                        {{ form.email(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.email(class="form-control") }}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">

                                        {{ form.first_name.label(class="form-control-label") }}

                                        {% if form.first_name.errors %}
                                        {{ form.first_name(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.first_name(class="form-control") }}
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">

                                        {{ form.last_name.label(class="form-control-label") }}

                                        {% if form.last_name.errors %}
                                        {{ form.last_name(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.last_name(class="form-control") }}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-success btn-sm") }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-dark m-0 font-weight-bold">Contact Settings</p>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group"><label for="address"><strong>Address</strong></label><input
                                    class="form-control" type="text" placeholder="Sunset Blvd, 38" name="address"></div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label for="city"><strong>City</strong></label><input
                                            class="form-control" type="text" placeholder="Tel Aviv" name="city"></div>
                                </div>
                                <div class="col">
                                    <div class="form-group"><label for="country"><strong>Country</strong></label><input
                                            class="form-control" type="text" placeholder="Israel" name="country"></div>
                                </div>
                            </div>
                            <div class="form-group"><button class="btn btn-success btn-sm"
                                    type="submit">Save&nbsp;Settings</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}