<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Groot - Register</title>
    <meta name="description" content="Plant a seed, Grow a community">
    <meta property="og:type" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../static/img/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../static/img/512x512.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body class="bg-gradient-success">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image"
                            style="background-image: url(&quot;../static/img/BG-register.png&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user" method="POST" action="register">
                                {{ form.hidden_tag() }}
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        {% if form.first_name.errors %}
                                        {{ form.first_name(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.first_name(class="form-control form-control-user") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        {% if form.last_name.errors %}
                                        {{ form.last_name(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.last_name(class="form-control form-control-user") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        {% if form.nick_name.errors %}
                                        {{ form.nick_name(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.nick_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.nick_name(class="form-control form-control-user") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-user is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-user") }}
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.password(class="form-control form-control-user") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        {% if form.confirm_password.errors %}
                                        {{ form.confirm_password(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.confirm_password(class="form-control form-control-user") }}
                                        {% endif %}
                                    </div>
                                </div>
                                {{ form.submit(class="btn btn-success btn-block text-white btn-user") }}
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i
                                        class="fab fa-google"></i>&nbsp; Register with Google</a><a
                                    class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i
                                        class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center"><a class="small" href="{{ url_for('login') }}">Already have an
                                    account?
                                    Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/js/sb-admin-2.min.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>